* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
  font-weight: 400;
}

@import "./nav";
@import "./player";
@import "./song";
@import "./library";

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 45%;
    }
  }
}

.App {
  transition: all 0.3s ease;
}

.library-active {
  margin-left: 30%;
}
